<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>单项工程造价指标</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/individual_project_search.js"></script>
  </head>
  <body>
    <div id="navbar"></div>
    <!-- 包含导航栏 -->
    {% include 'navbar.html' %}

    <!-- 主内容区域 -->
    <main>
      <h1>工程项目名称</h1>
      <div class="content">
        <!-- 搜索栏 -->
        <div class="search-bar">
          <input type="text" placeholder="请输入工程项目名称" />
          <button>搜索</button>
        </div>
        <!-- 搜索条件 -->
        <div class="search-condition">
          <ul>
            <li>
              <a>项目地点</a>
              <div class="button-group">
                <button
                  type="button"
                  class="region-btn"
                  data-filter="project_location"
                  data-value="不限"
                >
                  不限
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="project_location"
                  data-value="广东"
                >
                  广东
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="project_location"
                  data-value="四川"
                >
                  四川
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="project_location"
                  data-value="海南"
                >
                  海南
                </button>
              </div>
            </li>
            <li>
              <a>建设性质</a>
              <div class="button-group">
                <button
                  type="button"
                  class="region-btn"
                  data-filter="construction_nature"
                  data-value="不限"
                >
                  不限
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="construction_nature"
                  data-value="新建"
                >
                  新建
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="construction_nature"
                  data-value="改建"
                >
                  改建
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="construction_nature"
                  data-value="扩建"
                >
                  扩建
                </button>
              </div>
            </li>
            <li>
              <a>价格基期</a>
              <div class="button-group">
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="不限"
                >
                  不限
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2014"
                >
                  2014
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2015"
                >
                  2015
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2016"
                >
                  2016
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2017"
                >
                  2017
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2018"
                >
                  2018
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2019"
                >
                  2019
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2020"
                >
                  2020
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2021"
                >
                  2021
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2022"
                >
                  2022
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2023"
                >
                  2023
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="price_basis"
                  data-value="2024"
                >
                  2024
                </button>
              </div>
            </li>
            <li>
              <a>造价类型</a>
              <div class="button-group">
                <button
                  type="button"
                  class="region-btn"
                  data-filter="cost_type"
                  data-value="不限"
                >
                  不限
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="cost_type"
                  data-value="估算价"
                >
                  估算价
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="cost_type"
                  data-value="概算价"
                >
                  概算价
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="cost_type"
                  data-value="预算价"
                >
                  预算价
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="cost_type"
                  data-value="招标控制价"
                >
                  招标控制价
                </button>
              </div>
            </li>
            <li>
              <a>道路等级</a>
              <div class="button-group">
                <button
                  type="button"
                  class="region-btn"
                  data-filter="road_grade"
                  data-value="不限"
                >
                  不限
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="road_grade"
                  data-value="快速路"
                >
                  快速路
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="road_grade"
                  data-value="主干路"
                >
                  主干路
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="road_grade"
                  data-value="次干路"
                >
                  次干路
                </button>
                <button
                  type="button"
                  class="region-btn"
                  data-filter="road_grade"
                  data-value="支路"
                >
                  支路
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div class="sure">
          <button onclick="performSearch()">确定</button>
        </div>

        <!-- 任务表格 -->
        <div class="task-table">
          <table>
            <thead>
              <tr>
                <th>工程项目名称</th>
                <th>项目地点</th>
                <th>建设性质</th>
                <th>价格基准期</th>
                <th>造价类型</th>
                <th>道路等级</th>
                <th>单项工程费用（元）</th>
                <th>造价指标（元/m）</th>
                <th>造价指标（元/m2）</th>
                <th>所含单位工程</th>
              </tr>
            </thead>
            <tbody id="results">
              {% for project, result in zip(projects, results) %}
              <tr>
                <td><a href="{{ url_for('individual_project2.individual_project2_details', project_id=project.id) }}">
    {{ project.建设项目工程名称 }}
  </a></td>
                <td>{{ project.项目地点 }}</td>
                <td>{{ project.建设性质 }}</td>
                <td>{{ project.价格基准期 }}</td>
                <td>{{ project.造价类型 }}</td>
                <td>{{ project.道路等级 }}</td>
                <td>{{ project.单项工程费用}}</td>
                <td>{{ result['道路长度指标']}}</td>
                <td>{{ result['道路面积指标']}}</td>
                <td>{{ result['单位工程'] }}</td>
                <!-- 显示单位工程名称列表 -->
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- 分页 -->
          <div class="pagination">
            <button>&lt;&lt;</button>
            <button>&lt;</button>
            <span>1 2 3 4 ...</span>
            <button>&gt;</button>
            <button>&gt;&gt;</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
