<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>导航页</title>
  </head>
  <body>
    <!-- 顶部导航 -->
    <header>
      <div class="top-bar">
        <div class="logo">
          <span>造价库</span>
        </div>
        <nav class="top-nav">
          <a href="#">帮助中心</a>
          <a href="#">退出登录</a>
        </nav>
      </div>
    </header>
    <!-- 侧边栏导航 -->
    <aside>
      <nav class="sidebar">
        <ul>
          <li>
            <a href="#"> 首页</a>
          </li>
          <li>
            <!--蓝图名称.视图函数名称-->
            <a href="{{ url_for('projects.project_list') }}">工程项目列表</a>
          </li>
          <li>
            <a
              href="{{ url_for('individual_project.individual_project_list') }}"
              >单项工程造价指标</a
            >
          </li>
          <li class="nav-item">
            <a href="#" class="main-menu">单位工程造价指标</a>
            <div class="submenu">
              <a href="#">道路工程</a>
              <a href="#">桥梁工程</a>
              <a href="#">涵洞工程</a>
              <a href="#">交通工程</a>
              <a href="#">给水工程</a>
              <a href="#">排水工程</a>
              <a href="#">电力工程</a>
              <a href="#">通信工程</a>
              <a href="#">绿化工程</a>
            </div>
          </li>
          <li>
            <a href="#">综合单价查询</a>
          </li>
          <li>
            <a href="#">材料单价查询</a>
          </li>
          <li>
            <a href="#">造价预测</a>
          </li>
        </ul>
      </nav>
    </aside>
  </body>
</html>
