<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>工程项目列表</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/project_search.js" defer></script>

  </head>
  <body>
    <div id="navbar"></div>

    <!-- 包含导航栏 -->
    {% include 'navbar.html' %}
    <!-- 主内容区域 -->
    <main>
      <h1>工程项目列表</h1>
      <div class="content">
        <!-- 搜索栏 -->
         <div class="search-bar">
          <input type="text" id="search-input" placeholder="请输入工程项目名称" />
          <!--取消<button id="search-button">搜索</button> -->
        </div>

        <!-- 项目概况表格 -->
        <div class="task-table">
          <table id="project-table">
            <thead>
              <tr>
                <th>序号</th>
                <th>建设项目工程名称</th>
                <th>单项工程费用(元)</th>
                <th>造价类型</th>
                <th>项目地点</th>
                <th>价格基准期</th>
                <th>道路等级</th>
                <th>红线宽度(m)</th>
                <th>道路全长(m)</th>
                <th>建设性质</th>
              </tr>
            </thead>
            <tbody>
              {% for project in projects %}
              <tr>
                <td>{{ project.项目表_id }}</td>
                <td><a href="{{ url_for('individual_project.individual_project_list', project_id=project.项目表_id) }}">
                 {{ project.建设项目工程名称 }}</a></td>
                <td>{{ project.单项工程费用 }}</td>
                <td>{{ project.造价类型 }}</td>
                <td>{{ project.项目地点 }}</td>
                <td>{{ project.价格基准期 }}</td>
                <td>{{ project.道路等级 }}</td>
                <td>{{ project.红线宽度 }}</td>
                <td>{{ project.道路全长 }}</td>
                <td>{{ project.建设性质 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- 分页 -->
          <div class="pagination">
            <button>&lt;&lt;</button>
            <button>&lt;</button>
            <span>1 2 3 4 ...</span>
            <button>&gt;</button>
            <button>&gt;&gt;</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
