<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>综合单价指标</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
   <div id="navbar"></div>
  <!-- 包含导航栏 -->
    {% include 'navbar.html' %}

    <!-- 主内容区域 -->
    <main>
      <h1>综合单价指标</h1>
      <div class="content">
        <!-- 搜索栏 -->
        <div class="search-bar">
          <input type="text" placeholder="请输入清单编码或特征关键词" />
          <button>搜索</button>
        </div>
        <!-- 搜索条件 -->
        <div class="search-condition">
          <ul>
            <li>
              <a>工程地点</a>
              <div class="button-group">
                <button type="button" class="region-btn">不限</button>
                <button type="button" class="region-btn">广东</button>
                <button type="button" class="region-btn">四川</button>
                <button type="button" class="region-btn">海南</button>
              </div>
            </li>
            
            <li><a>价格基期</a>
            <div class="button-group">
                <button type="button" class="region-btn">不限</button>
                <button type="button" class="region-btn">2014</button>
                <button type="button" class="region-btn">2015</button>
                <button type="button" class="region-btn">2016</button>
                <button type="button" class="region-btn">2017</button>
                <button type="button" class="region-btn">2018</button>
                <button type="button" class="region-btn">2019</button>
                <button type="button" class="region-btn">2020</button>
                <button type="button" class="region-btn">2021</button>
                <button type="button" class="region-btn">2022</button>
                <button type="button" class="region-btn">2023</button>
                <button type="button" class="region-btn">2024</button>
              </div>
              </li>
            <li><a>造价类型</a>
             <div class="button-group">
                <button type="button" class="region-btn">不限</button>
                <button type="button" class="region-btn">估算价</button>
                <button type="button" class="region-btn">概算价</button>
                <button type="button" class="region-btn">预算价</button>
                <button type="button" class="region-btn">招标控制价</button>
              </div>
              </li>
              
          </ul>
        </div>

        <!-- 任务表格 -->
        <div class="task-table">
          <table>
            <thead>
              <tr>
                <th>序号</th>
                <th>工程地点</th>
                <th>价格基期</th>
                <th>造价类型</th>
                <th>项目名称</th>
                <th>项目特征描述</th>
                <th>计量单位</th>
                <th>综合单价（元）</th>
                <th>所属项目</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
              </tr>
                <tr>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>

              </tr>
              <tr>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>
                <td>XX</td>

              </tr>
            </tbody>
          </table>
          <!-- 分页 -->
          <div class="pagination">
            <button>&lt;&lt;</button>
            <button>&lt;</button>
            <span>1 2 3 4 ...</span>
            <button>&gt;</button>
            <button>&gt;&gt;</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
